@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.lead {
    font-family: 'Antic Slab', serif;
	color:#DDCCEE;
}

.lead2 {
    font-family: 'Antic Slab', serif;
	color:#110022;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:50%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full-white {
  margin: 0 auto;
  width: 100%;
  min-height:50%;
  background-color: white;
  overflow:hidden;
  padding-top: 25px;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.col-centered{
    float: none;
    margin: 0 auto;
    height: 50%;
}

.white {
  color: white;  
}
  
  .container-full-officers {
  margin: 0 auto;
  width: 100%;
  min-height:50%;
  background-color: white;
  padding-top: 25px;
}

@media screen and (min-width: 480px) {
    h2 {
      padding-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        margin-top: 50px;
        font-size:45px;
    }
}

span.glyphicon {
  font-size: 3.5em;
}

