 <div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <a class="navbar-brand" href="#">McK Divison of Computing</a>
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
      			<li><a href="#" class="">ACM</a></li>
      			<li><a href="#">CATALOG</a></li>
      			<li><a href="#">FACULTY</a></li>
      			<li><a href="#">RESOURCES</a></li>
		    </ul>
        </div>
    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->

<div class="container-full container-fluid">
   <div class="row">
      <div class="col-lg-12 text-center v-center">
        <h1 class="header">Association of Computing Machinery</h1>
        <h3 class="lead">McKendree University Chapter</h3>
     </div>
   </div> <!-- /row -->
</div> <!-- /container full -->

<div class="container-fluid container-full-white text-center">
  <div class="col-sm-4 col-centered">
  <h1>About</h1>
  <p>ACM brings together computing educators, researchers, and professionals to inspire dialogue, share resources, and address the field's challenges. As the world’s largest computing society, ACM strengthens the profession's collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM supports the professional growth of its members by providing opportunities for life‐long learning, career development, and professional networking.

Founded at the dawn of the computer age, ACM’s reach extends to every part of the globe, with more than half of its 100,000 members residing outside the U.S.  Its growing membership has led to Councils in Europe, India, and China, fostering networking opportunities that strengthen ties within and across countries and technical communities.  Their actions enhance ACM’s ability to raise awareness of computing’s important technical, educational, and social issues around the world. </p>
    <a href="https://www.acm.org/"><button type="button" class="btn btn-info">Learn More</button></a><br>
  </div>
</div>

<div class="container-fluid container-full text-center">
  <div class="col-sm-4 col-centered" style="padding-bottom: 30px;">
  <h1>Why join?</h1>
  </div>
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-resize-full"></span>
    <h2>GROW</h2>
    <h3>Expand your personal and professional network</h3>
  </div>
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-book"></span>
    <h2>LEARN</h2>
    <h3>Attend Special Speaker Series meetings where graduates and current students give you a taste of the what it is like to work in the computing field and offer tips for getting jobs.</h3>
  </div>
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <h2>HAVE FUN</h2>
    <h3>Gaming, programming competitions, hackathons, and more await you. Did we mention pizza?</h3>
  </div>
</div>

<div class="container-full-officers text-center">
  	<div class="row">
       <h1>Officers</h1>
        <div class="col-sm-3">
          <div>
            <h3 class="lead">PRESIDENT</h3>
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkJAAAAJGY3ODhkZGY3LTEzYjItNGY4Zi04ZTk2LWFjMzI1YWU5MTgyZQ.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Gregory Ortiz</h2>
            <hr>
          </div>
        </div>
      	<div class="col-sm-3">
          <div>
            <h3 class="lead">VICE PRESIDENT</h3>
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYvAAAAJDJkMWUwMWUzLTliYTktNGE0NC1hOGM2LTU0NTAyMGRkMjVkOA.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Eric Abrolat</h2>
            <hr>
          </div>
        </div>
      	<div class="col-sm-3">
          <div>
            <h3 class="lead">TREASURER</h3>
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAZpAAAAJDcwYTEyZGVlLWVjY2UtNDQwNy1iMWNmLTA4NTVkODlkYTdjMQ.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Jacob Troutman</h2>
            <hr>
          </div>
        </div>
        <div class="col-sm-3">
          <div>
            <h3 class="lead">SECRETARY</h3>
            <img src="http://images.wisegeek.com/red-mittens.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Zachary Mittendorf</h2>
            <hr>
          </div>
        </div>
    </div>
</div>

