<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <a class="navbar-brand" href="#">McK Divison of Computing</a>
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
      			<li><a href="#">ACM</a></li>
      			<li><a href="#">CATALOG</a></li>
      			<li><a href="#">FACULTY</a></li>
      			<li><a href="#">RESOURCES</a></li>
		    </ul>
        </div>
    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/example/bg_suburb.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Divison of Computing</h1>
          <p></p>
          <p><a class="btn btn-lg btn-success" href="#">Apply Now</a>
        </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/2000/600/abstract/1" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Quotes from grads</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Stats about grads</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-3 text-center">
      <h2>Computer Science</h2>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-sm-3 text-center">
      <h2>Computer Information Systems</h2>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-sm-3 text-center">
      <h2>Computational Science</h2>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
     <div class="col-sm-3 text-center">
      <h2>Information Technology</h2>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
  </div><!-- /.row -->


  

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
  </footer>

</div><!-- /.container -->
