 <div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <a class="navbar-brand" href="#">McK Divison of Computing</a>
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
      			<li><a href="#">ACM</a></li>
      			<li><a href="#">CATALOG</a></li>
      			<li><a href="#">FACULTY</a></li>
      			<li><a href="#">RESOURCES</a></li>
		    </ul>
        </div>
    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->

<div class="container-full container-fluid">
   <div class="row">
      <div class="col-lg-12 text-center v-center">
        <h1 class="header">Meet Our Professors</h1>
        <h3 class="lead">McKendree University</h3>
     </div>
   </div> <!-- /row -->
</div> <!-- /container full -->

<div class="container-full-officers text-center">
        <div class="flex-item">
            <h3 class="lead">Divison Chair | Professor</h3>
            <img src="http://lance.mckendree.edu/csi/images/thumbnails/kianthumbnail.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Kian L. Pokorny, Ph.D.</h2>
            <div id="pocontent">Hello World</div>
            <button id="pokorny">Contact</button>
            <hr>
        </div>
      	<div class="flex-item">
            <h3 class="lead">Assistant Professor</h3>
            <img src="https://www.mckendree.edu/directory/images/cj-dulaney.png" class="img-circle" width="250" height="250">
            <h2 class="lead2">Christopher Dulaney, D. B. A.</h2>
            <div id="dcontent">Hello World</div>
            <button id="dulaney">Contact</button>
            <hr>
        </div>
      	<div class="flex-item">
            <h3 class="lead">Assistant Professor</h3>
            <img src="http://lance.mckendree.edu/csi/images/thumbnails/sameerthumbnail.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Sameer Dutta, Ph.D.</h2>
            <div id="ducontent">Hello World</div>
            <button id="dutta">Contact</button>
            <hr>
        </div>
        <div class="flex-item">
            <h3 class="lead">Instructor</h3>
            <img src="http://lance.mckendree.edu/csi/images/thumbnails/masseythumbnail.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Theodore Massey</h2>
            <div id="macontent">Hello World</div>
            <button id="massey">Contact</button>
            <hr>
        </div>
      <div class="flex-item">
            <h3 class="lead">Assistant Professor</h3>
            <img src="http://lance.mckendree.edu/csi/images/thumbnails/Mostafa_thumb.jpg" class="img-circle" width="250" height="250">
            <h2 class="lead2">Mostafa G. Mostafa, Ph.D.</h2>
            <div id="mocontent">Hello World</div>
            <button id="mostafa">Contact</button>
            <hr>
        </div>
      <div class="flex-item">
            <h3 class="lead">Assistant Professor</h3>
            <img src="https://www.mckendree.edu/directory/images/eric-neblock.png" class="img-circle" width="250" height="250">
            <h2 class="lead2">C. Eric Neblock, M.S.</h2>
            <div id="necontent">Hello World</div>
            <button id="neblock">Contact</button>
            <hr>
          </div>
    </div>


